<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.ej.dao.extend.ProductExtendMapper">
    <select id="selectByPrimaryKey" resultMap="selectByPrimaryKey">
        c.id as c_id;
        c.name ,
        c.description,
        c.price,
        c.ststus,
        c,photo,
        c,category_id,
        t.id as t_id,
        t,name
        from ej_product c left join ej_category
        on c.category_id=t.id
    </select>
    <resultMap id="selectByPrimaryKey" type="com.briup.apps.ej.bean.extend.ProductExtend">
        <id column="c_id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="category_id" property="categoryId"/>
        <association property="category" javaType="com.briup.apps.ej.bean.Category">
            <id column="t_id" property="id"/>vg
            <result column="name" property="name"/>
        </association>
    </resultMap>





    <!--
    <select id="selectAll" resultMap="courseExtendResultMap">
        select * from sms_course
    </select>

    <resultMap id="courseExtendResultMap"
               type="com.briup.apps.app02.bean.extend.CourseExtend">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="credit" property="credit"/>
        <result column="teacher_id" property="teacher_id"/>
        <association
                select="com.briup.apps.app02.dao.UserMapper.selectByPrimaryKey"
                column="teacher_id"
                property="teacher"/>
    </resultMap>
    -->
</mapper>